@{
    Layout = "_Layout";
    var templateId = ViewBag.templateId ;
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<div class="container mt-3 col-md-8 mx-auto">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(currentAction=="Details"?"active":"")" asp-action="Details" asp-controller="Template" asp-route-templateId="@templateId"> Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction=="Update"?"active":"")" asp-action="Update" asp-controller="Template" asp-route-templateId="@templateId">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction=="Questions"?"active":"")" asp-action="Questions" asp-controller="Template" asp-route-templateId="@templateId">Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction == "Statistics" ? "active" : "")" asp-action="Statistics" asp-controller="Template" asp-route-templateId="@templateId">Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentAction=="Forms"?"active":"")" asp-action="Forms" asp-controller="Template" asp-route-templateId="@templateId">Forms</a>
        </li>
    </ul>
     @RenderBody()
</div>